body{
  background-color: #f6f5f5;
  margin:0px;
  padding:0px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
section{
  width: 100%;
  height:120vh;
  background-image:url("./Assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.profile{
  margin-top:1rem;
  align-items:center;
}
img{
  /* box-shadow: 2px 2px 2px rgba(0,0,0); */
  margin-top:0rem;

  
}
.profile #profile{ 
  margin-top: 3rem;
  justify-content:center;
 }
.row{
  justify-content:space-between;
}

.about-container{
  background-color:#ffffff;
  width: 80%;
  height:45vh;
  background-color:#f2faf7;
  margin-left:7rem;
  padding: 2rem;
  border-radius:15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
.about-container img{
  border: 1px solid #ccc;
 box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 46, 170, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -10px 10px, rgba(0, 0, 0, 0.05) -0 0;
}
.service-container{
  background-color:white;
  margin-top:10rem;
  padding-left:3rem;
  padding: 4rem 9rem 2rem 4rem;
  padding-right:3rem;

}
.service-header{
  font-size:16px;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
}
.sevice-box{
  display: flex;
  color: #fff;
  justify-content:space-around;
  margin-top: 30px;

}
.content-box{
  background-color:black;
  border-radius:10px;
  width:30%;
  text-align:center;
}
.content-box #number{
  border:3px solid #fff;
  border-radius:50%;
  width: 20px;
  margin-left:45%;
  margin-top:2rem

}
.content-box button{
  background-color:success;
  margin-bottom:2rem;
}
.project-container{
  background-color:#dce3e0;
  padding-left:3rem;
  padding: 4rem 9rem 2rem 4rem;
  padding-right:3rem;
  text-align: center;

}
.project-content{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.content-A,.content-B, .content-C {
  height: 250px;
  border-radius: 10px;
  padding: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  opacity: 60%;

}
.card a{
  text-decoration: none;
  color: black;
}
.card-body{
  /* border: 3px solid black; */
  background-color:rgb(77, 240, 164);
  box-shadow: rgb(113, 255, 85) 0px 0px 0px 3px, rgb(249, 252, 249) 0px 0px 0px 6px, rgb(245, 10, 10) 0px 0px 0px 9px, rgb(250, 248, 247) 0px 0px 0px 12px, rgb(17, 16, 16) 0px 0px 0px 15px;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}
.content-A{
  background-image: url(/Assets/demo_pro_1.png);

}
.content-B{
  background-image: url(/Assets/demo_pro_2.jpg);
  
}
.content-C{
background-image: url(/Assets/demo_pro_3.jpg);
  
}
.contact{
  text-align: center;
  height:250px;
  padding: 2rem;
  background-color: black;
  color: #fff;
}
.intro{
  padding: 3rem;
  margin-top: 4rem;
}
hr{
  width: 20%;
  text-align: center;
  margin-left: 40%;
  /* justify-content: center; */
}
footer{
  text-align: center;
  height:250px;
  padding: 2rem;
  background-color: #f2faf7;
  

}